{% extends 'base_core.html' %}


{% block title %}
Book an Event Now
{% endblock title %}

{% block content %}
<div class="container-fluid c-shadow-medium-s c-content-back c-margin-top-resp pt-5" style="min-height: 600px; margin-bottom: 50px; margin-top: 70px;">
	{% block breadcrumb %}

    {% endblock breadcrumb %}

<div class="row c-profile-main p-3">
	{% include 'includes/sidebarProfile.html' %}

	{% if obj %}

<div class="col-md-9">
	<div class="row">
		<div class="col-md-12 my-3">
			<div class="card-group c-shadow-small-h">
				  <div class="card">
				    <img src="{{ obj.event_image.url }}" class="card-img-top" alt="{{ obj.event_name }}" height="450px">
				    <div class="card-body">
				      <h5 class="card-title"><strong>{{ obj.event_name }}</strong></h5>

				      <p style="font-size: 11px;" class="text-muted">By {{ obj.event_added_by }}</p>

				      <p class="card-text"><small class="text-muted">Last updated {{ obj.updated_date|timesince }} ago</small></p>
				      <hr>

				      <br>
				      <p class="card-text">{{ obj.event_description }}</p>
				    </div>
				    <div class="card-footer">
				    	<div class="row">
				    		<center>
				    			<div class="col-md-12">
				    				<center>
							    		<form method="post">
											{% csrf_token %}
					  						<input type="hidden" name="next" value="{{ next }}">
											{% include 'includes/form.html' %}
											<center><button type="submit" class="btn but-c c-text-normal c-shadow-small-h">Request a Book</button></center>
										</form>
							    	</center>
				    			</div>
				    		</center>
				    	</div>
				    </div>
				  </div>

			</div>
		</div>
	</div>
	<br>
	<hr>
	<br>
	<h6><strong>More Events like this:</strong></h6>
	<div class="row">
		<div class="col-md-4 my-3">
			<div class="card-group c-shadow-small-h">
				  <div class="card">
				    <img src="{{ event_1.event_image.url }}" class="card-img-top" alt="{{ event_1.event_name }}" height="150px">
				    <div class="card-body">
				      <h5 class="card-title"><strong>{{ event_1.event_name }}</strong></h5>
				      <p class="card-text">{{ event_1.event_description|striptags|slice:":40" }}</p>
				      <p class="card-text"><small class="text-muted">Last updated {{ event_1.updated_date|timesince }} ago</small></p>
				    </div>
				    <div class="card-footer">
				    	<a href="{% url 'event_detail' event_1.pk %}" target="_blank" class="btn btn-block btn-info c-shadow-small-h">Know more</a>
				    </div>
				  </div>

			</div>
		</div>
		<div class="col-md-4 my-3">
			<div class="card-group c-shadow-small-h">
				  <div class="card">
				    <img src="{{ event_2.event_image.url }}" class="card-img-top" alt="{{ event_2.event_name }}" height="150px">
				    <div class="card-body">
				      <h5 class="card-title"><strong>{{ event_2.event_name }}</strong></h5>
				      <p class="card-text">{{ event_2.event_description|striptags|slice:":40" }}</p>
				      <p class="card-text"><small class="text-muted">Last updated {{ event_2.updated_date|timesince }} ago</small></p>
				    </div>
				    <div class="card-footer">
				    	<a href="{% url 'event_detail' event_2.pk %}" target="_blank" class="btn btn-block btn-info c-shadow-small-h">Know more</a>
				    </div>
				  </div>

			</div>
		</div>
		<div class="col-md-4 my-3">
			<div class="card-group c-shadow-small-h">
				  <div class="card">
				    <img src="{{ event_3.event_image.url }}" class="card-img-top" alt="{{ event_3.event_name }}" height="150px">
				    <div class="card-body">
				      <h5 class="card-title"><strong>{{ event_3.event_name }}</strong></h5>
				      <p class="card-text">{{ event_3.event_description|striptags|slice:":40" }}</p>
				      <p class="card-text"><small class="text-muted">Last updated {{ event_3.updated_date|timesince }} ago</small></p>
				    </div>
				    <div class="card-footer">
				    	<a href="{% url 'event_detail' event_3.pk %}" target="_blank" class="btn btn-block btn-info c-shadow-small-h">Know more</a>
				    </div>
				  </div>

			</div>
		</div>
	</div>
</div>

	{% else %}
	<p class="lead">Sorry No events found for you. Please retry after some times</p>
	{% endif %}
</div>

<script>
	function printDivProfile(divName) {
		var printContents = document.getElementById(divName).innerHTML;
		var originalContents = document.body.innerHTML;

		document.body.innerHTML = printContents;
		window.print();

		document.body.content = originalContents;
	}
</script>

</div>

{% endblock content %}