{% extends 'base_core.html' %}


{% block title %}
Have any type of technical problem, report to us.
{% endblock title %}

{% block content %}
<div class="container-fluid c-shadow-medium-s c-content-back c-margin-top-resp pt-5" style="min-height: 600px; margin-bottom: 50px; margin-top: 70px;">
	{% block breadcrumb %}

        {% endblock breadcrumb %}
    <div class="row">
        <div class="col-md-9">
            <h2 class="display-4">Report your problem here</h2>
            <br>
            <hr>
            <br>
            <div class="">
                <img src="https://images.pexels.com/photos/262272/pexels-photo-262272.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" width="100%">
            </div>
            <br>
            <br>
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <div class="card c-shadow-small-h">
                        <div class="card-body">
                            <h3 class="card-title">Report Form</h3>
                            <form method="post">
                                {% csrf_token %}
                                {% include 'includes/form.html' %}
                                <center><button type="submit" class="btn c-back-normal c-text-normal c-shadow-small-h">Submit</button></center>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-md-3">
            {% include 'includes/mainsidebar.html' %}
        </div>
    </div>

</div>
{% endblock content %}